<div class="message">
  <% if message.user_id == current_user.id%>
    <div class="my-message-content">
      <div class="message-content">
       <div class='message-date'>
          <%= l message.created_at%>
        </div>
        <div class='my-user'>
          <%= message.content%>
            <div class="lower-message">
            <%= image_tag message.image.variant(resize:'300x300'), class: 'message-image' if message.image.attached? %>
            </div>
        </div>
      </div>
    </div>
      <% else %>
      <div class="you-message-content">
        <div class="message-content">
         <div class='you-user'>
            <%= message.content%>
            <div class="lower-message">
            <%= image_tag message.image.variant(resize:'300x300'), class: 'message-image' if message.image.attached? %>
            </div>
          </div>
          <div class='message-date'>
            <%= l message.created_at%>
          </div>
        </div>
      </div>
  <% end %>
</div>




