<div class='top'>
<%= render "shared/header" %>
</div>

<div class='main'>
  <ul class='profile-lists'>
   <div class = category>-最新-
    <li class='category1'>
      <% @profile.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %> 
    </li>
   </div>
 <hr>
  <div class = category>-音楽-
    <li class='category2'>
      <% @music.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 <hr>
  <div class = category>-美容-
    <li class='category3'>
      <% @beauty.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 <hr>
  <div class = category>-料理-
    <li class='category4'>
      <% @cook.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 <hr>
  <div class = category>-教育-
    <li class='category5'>
      <% @education.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 <hr>
  <div class = category>-ビジネス-
    <li class='category6'>
      <% @business.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 <hr>
  <div class = category>-イベント-
    <li class='category7'>
      <% @event.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 <hr>
  <div class = category>-スポーツ-
    <li class='category8'>
      <% @sports.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
           <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 <hr>
  <div class = category>-インテリア-
    <li class='category9'>
      <% @interior.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 <hr>
  <div class = category>-ゲーム-
    <li class='category10'>
      <% @game.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 <hr>
  <div class = category>-その他-
    <li class='category11'>
      <% @other.each do |profile|%>
        <%= link_to profile_path(profile.id) do %>
          <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
         </div>
         <div class='profile-info'>
            <h3 class='profile-name'>
              <%= profile.name %>
            </h3>
          </div>
        <% end %>
      <% end %>
    </li>
  </div>
 </ul>
</div>