<div class="top-img">
  <div class='top'>
  <%= render "shared/header" %>
  </div>
  <div class="sub-title">データでビジネスを面白く</div>
</div>

<div class="explanation-img">
  <%= render "shared/explanation"%>  
</div>

<div class='main'>
  <ul class='profile-lists'>
    <div class = 'category'>
      <li class='category-gray'>
        <div class = 'category-name'>最新
        </div>
        <% @profile.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content', id=image-content>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached? %>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-white'>
        <div class = 'category-name'>音楽
        </div>
        <% @music.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached? %>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-gray'>
          <div class = 'category-name'>美容
          </div>
        <% @beauty.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-white'>
          <div class = 'category-name'>料理
          </div>
        <% @cook.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-gray'>
          <div class = 'category-name'>教育
          </div>
        <% @education.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-white'>
          <div class = 'category-name'>ビジネス
          </div>
        <% @business.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-gray'>
          <div class = 'category-name'>イベント
          </div>
        <% @event.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-white'>
          <div class = 'category-name'>スポーツ
          </div>
        <% @sports.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
            <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-gray'>
          <div class = 'category-name'>インテリア
          </div>
        <% @interior.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-white'>
          <div class = 'category-name'>ゲーム
          </div>
        <% @game.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
            </div>
            <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
    
    <div class = 'category'>
      <li class='category-gray'>
          <div class = 'category-name'>その他
          </div>
        <% @other.each do |profile|%>
          <%= link_to profile_path(profile.id) do %>
            <div class='item-img-content'>
              <%= image_tag profile.image.variant(resize:'400x400'), class: 'profile-image' if profile.image.attached?%>
          </div>
          <div class='profile-info'>
              <h3 class='profile-name'>
                <%= profile.name %>
              </h3>
              <div class='profile-explanation-follower'>
                Instagram<%= profile.insta_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Youtube<%= profile.youtube_follower%>人
              </div>
              <div class='profile-explanation-follower'>
                Twitter<%= profile.twitter_follower%>人
              </div>
            </div>
          <% end %>
        <% end %>
      </li>
    </div>
 </ul>
</div>
<script src="https://unpkg.com/scrollreveal"></script>
<script>
  ScrollReveal().reveal('.top-img', { 
    duration: 2000,
    delay: 100,
    reset: true,
    opacity: 0,
    viewFactor: 0.4,
  });
</script>
<script>
  ScrollReveal().reveal('.explanation-img', { 
    duration: 1600, 
    origin: 'top', 
    distance: '50px',
    reset: true   
  });
</script>
<script>
  ScrollReveal().reveal('.category', { 
    duration: 1600, 
    origin: 'top', 
    distance: '50px',
    reset: true   
  });
</script>
