<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<div class="total">
 <%= form_with model: @profile, local: true do |f| %>

  <div class="img-upload">
      <div class="weight-bold-text">
        登録画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
　 </div>

  <div class="new-profile">
    <div class="weight-bold-text">
        アカウント名
    　 <span class="indispensable">必須</span>
    </div>
      <%= f.text_area :name, class:"profile-text", id:"name", placeholder:"アカウント名（必須 40文字まで)", maxlength:"40" %>
    <div class="profile-explain">
      <div class="weight-bold-text">
      アカウントの説明
      <span class="indispensable">必須</span>
    　</div>
      <%= f.text_area :explanation, class:"profile-text", id:"explanation", placeholder:"アカウントの説明（必須 1,000文字まで）※最終更新日は必ず入力してください（アカウントの特徴、案件の有無、案件単価）" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <div class="weight-bold-text">
      カテゴリー
        <span class="indispensable">必須</span>
    </div>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {class:"select-box", id:"category"}) %>
  </div>

  <div class="insta-detail">
    <div class="weight-bold-text">
      フォロワー数
      <span class="indispensable">必須</span>
    </div>
      <%= f.text_field :insta_follower, class:"follower-input", id:"insta_follower", placeholder:"例）○○人" %>
  <br><br>
    <div class="weight-bold-text">
      Instagram男女比
      <span class="indispensable">必須</span>
    </div>
      <%= f.text_field :insta_man, class:"man-input", id:"insta_man", placeholder:"例）○○％" %>男性比率
      <%= f.text_field :insta_woman, class:"woman-input", id:"insta_woman", placeholder:"例）○○％" %>女性比率
    <br><br>
    <div class="weight-bold-text">
      Instagram年代別構成比
      <span class="indispensable">必須</span>
    </div>
    <canvas id="myChart" width="100" height="30"></canvas>
    <%= render "shared/chart" %>
    <div class="age">
      13-17才<%= f.text_field :insta_age1, class:"age1-input", id:"insta_age1", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      18-24才<%= f.text_field :insta_age2, class:"age2-input", id:"insta_age2", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      25-34才<%= f.text_field :insta_age3, class:"age3-input", id:"insta_age3", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      35-44才<%= f.text_field :insta_age4, class:"age4-input", id:"insta_age4", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      45-54才<%= f.text_field :insta_age5, class:"age5-input", id:"insta_age5", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      55-64才<%= f.text_field :insta_age6, class:"age6-input", id:"insta_age6", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      65+才　<%= f.text_field :insta_age7, class:"age7-input", id:"insta_age7", placeholder:"例）○○％" %>
    </div>
  <br>
    <div class="weight-bold-text">
      Instagram認知参考値
      <span class="indispensable">必須</span>
    </div>
    <div class="age">
      1週間合計インプレッション数<br>
      <%= f.text_field :insta_impression, class:"age1-input", id:"insta_age1", placeholder:"例）○○回" %>
    </div>
    <div class="age">
      1週間合計リーチ数<br>
      <%= f.text_field :insta_reach, class:"age1-input", id:"insta_age1", placeholder:"例）○○人" %>
    </div>
  <br>
    <div class="weight-bold-text">
      Instagram誘致参考値
      <span class="indispensable">必須</span>
    </div>
    <div class="age">
      1週間合計ウェブサイトクリック数<br>
      <%= f.text_field :insta_click, class:"age1-input", id:"insta_age1", placeholder:"例）○○回" %>
    </div>
  <br>
  <div class="youtube-detail">
    <div class="weight-bold-text">
      Youtube登録者数
      <span class="any">任意</span>
    </div>
      <%= f.text_field :youtube_follower, class:"follower-input", id:"youtube_follower", placeholder:"例）○○人" %>

    <div class="weight-bold-text">
      Youtube男女比
      <span class="any">任意</span>
    </div>
      <%= f.text_field :youtube_man, class:"man-input", id:"youtube_man", placeholder:"例）○○％" %>
      <%= f.text_field :youtube_woman, class:"woman-input", id:"youtube_woman", placeholder:"例）○○％" %>

    <div class="weight-bold-text">
      Youtube年代別構成比
      <span class="any">任意</span>
    </div>
    <div class="age">
      13-17才<%= f.text_field :youtube_age1, class:"age1-input", id:"youtube_age1", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      18-24才<%= f.text_field :youtube_age2, class:"age2-input", id:"youtube_age2", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      25-34才<%= f.text_field :youtube_age3, class:"age3-input", id:"youtube_age3", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      35-44才<%= f.text_field :youtube_age4, class:"age4-input", id:"youtube_age4", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      45-54才<%= f.text_field :youtube_age5, class:"age5-input", id:"youtube_age5", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      55-64才<%= f.text_field :youtube_age6, class:"age6-input", id:"youtube_age6", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      65才+　<%= f.text_field :youtube_age7, class:"age7-input", id:"youtube_age7", placeholder:"例）○○％" %>
    </div>

    <div class="weight-bold-text">
      Youtube視聴維持率
      <span class="any">任意</span>
    </div>
      <%= f.text_field :viewing, class:"viewing-input", id:"viewing", placeholder:"例）○○％" %>
  </div>

  <div class="twitter-detail">
    <div class="weight-bold-text">
      Twitterフォロワー数
      <span class="any">必須</span>
    </div>
      <%= f.text_field :twitter_follower, class:"follower-input", id:"twitter_follower", placeholder:"例）○○人" %>
  <br><br>
    <div class="weight-bold-text">
      Twitter男女比
      <span class="any">必須</span>
    </div>
      <%= f.text_field :twitter_man, class:"man-input", id:"twitter_man", placeholder:"例）○○％" %>男性比率
      <%= f.text_field :twitter_woman, class:"woman-input", id:"twitter_woman", placeholder:"例）○○％" %>女性比率
    <br><br>
    <div class="weight-bold-text">
      Twitter年代別構成比
      <span class="any">必須</span>
    </div>
    <canvas id="myChart" width="100" height="30"></canvas>
    <%= render "shared/chart" %>
    <div class="age">
      13-17才<%= f.text_field :twitter_age1, class:"age1-input", id:"twitter_age1", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      18-24才<%= f.text_field :twitter_age2, class:"age2-input", id:"twitter_age2", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      25-34才<%= f.text_field :twitter_age3, class:"age3-input", id:"twitter_age3", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      35-44才<%= f.text_field :twitter_age4, class:"age4-input", id:"twitter_age4", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      45-54才<%= f.text_field :twitter_age5, class:"age5-input", id:"twitter_age5", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      55-64才<%= f.text_field :twitter_age6, class:"age6-input", id:"twitter_age6", placeholder:"例）○○％" %>
    </div>
    <div class="age">
      65+才　<%= f.text_field :twitter_age7, class:"age7-input", id:"twitter_age7", placeholder:"例）○○％" %>
    </div>
  <br>
    <div class="weight-bold-text">
      Twitter認知参考値
      <span class="any">必須</span>
    </div>
    <div class="age">
      1週間合計インプレッション数<br>
      <%= f.text_field :twitter_impression, class:"age1-input", id:"twitter_age1", placeholder:"例）○○回" %>
    </div>
    <div class="age">
      1週間合計エンゲージメント数<br>
      <%= f.text_field :twitter_engagement, class:"age1-input", id:"twitter_age1", placeholder:"例）○○人" %>
    </div>
  <br>
    <div class="weight-bold-text">
      Twitter誘致参考値
      <span class="any">必須</span>
    </div>
    <div class="age">
      1週間合計リンククリック数<br>
      <%= f.text_field :twitter_click, class:"age1-input", id:"twitter_age1", placeholder:"例）○○回" %>
    </div>
  <br>

  <div class="post-btn-contents">
    <%= f.submit "登録する" ,class:"post-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>

 <% end %>
</div>
