<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<div class="profile-show">
  <div class="profile-box">
    <h2 class="name">
      <%= @profile.name %>
    </h2>

    <div class='profile-img-content'>
      <%= image_tag @profile.image.variant(resize:'500x500'), class: 'profile-image' if @profile.image.attached?%>
    </div>

    <div class='insta-detail-content'>
      <div class='insta-follower'>Instagramフォロワー
        <%=@profile.insta_follower%>
      </div>
      <div class='insta-gender'>男女比率
       <canvas id="gender" width="50" height="8"></canvas> 
        <%= render "shared/chart" %>
        <%=@profile.insta_man%>
        <%=@profile.insta_woman%>
      </div>
      <div class='insta-age-total'>年代比較
         <canvas id="myInstaChart" width="100" height="30"></canvas> 
        <%= render "shared/chart" %>
      </div>
      <div class='insta-age'>
      <table>
        <div class='age'>
          <tr><th>13才-17才</th><td><%=@profile.insta_age1 %><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>18才-24才</th><td><%=@profile.insta_age2%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>25才-34才</th><td><%=@profile.insta_age3%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>35才-44才</th><td><%=@profile.insta_age4%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>45才-54才</th><td><%=@profile.insta_age5%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>54才-64才</th><td><%=@profile.insta_age6%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>65+</th><td><%=@profile.insta_age7%><%="%"%></td></tr>
        </div>
        </table>
      </div>
    </div>

    <div class='youtube-detail-content'>
      <div class='youtube-follower'>Youtube登録者数
        <%=@profile.youtube_follower%>
      </div>
      <div class='youtube-gender'>男女比率
      <canvas id="Youtubegender" width="50" height="8"></canvas> 
        <%= render "shared/chart" %>
        <%=@profile.youtube_man%>
        <%=@profile.youtube_woman%>
      </div>
      <div class='youtube-age'>年代比較
      <canvas id="myYoutubeChart" width="100" height="30"></canvas>
      <%= render "shared/chart" %>
      <table>
        <div class='age'>
          <tr><th>13才-17才</th><td><%=@profile.youtube_age1 %><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>18才-24才</th><td><%=@profile.youtube_age2%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>25才-34才</th><td><%=@profile.youtube_age3%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>35才-44才</th><td><%=@profile.youtube_age4%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>45才-54才</th><td><%=@profile.youtube_age5%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>54才-64才</th><td><%=@profile.youtube_age6%><%="%"%></td></tr>
        </div>
        <div class='age'>
          <tr><th>65+</th><td><%=@profile.youtube_age7%><%="%"%></td></tr>
        </div>
      </table>
      </div>
      <div class='youtube-viewing'>
        <%=@profile.viewing%>
      </div>
    </div>
    <div>
      <%# <%=link_to 'もどる', root_path, class:"back-btn" %> 
    </div>
  </div>
</div>