<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<div class='top'>
<%= render "shared/header" %>
</div>
<div class="profile-show">
  <div class="profile-box">
    <h2 class="name">
      <%= @profile.name %>
    </h2>

    <div class='profile-img'>
    <div class='profile-img-content'>
      <%= image_tag @profile.image.variant(resize:'500x500'), class: 'profile-image' if @profile.image.attached?%>
    </div>
    <div class='reference-value'>
      <div class='insta-cognition'>
      </div>
      <table width="300px"height="50px">
      <tr>
      <th colspan="2" height="40px">Instagramから認知参考値</th>
      </tr>
      <tr>
      <th width="200px"height="50px">1週間合計インプレッション数</th>
      <td width="50px"height="50px"><%=@profile.insta_impression%></td>
      </tr>
      <th width="200px"height="50px">1週間合計リーチ人数</th>
      <td width="50px"height="50px"><%=@profile.insta_reach%></td>
      <br>
      <tr>
      <th colspan="2" height="40px">Instagramから誘致参考値</th>
      </tr>
      <tr>
      <th>1週間合計ウェブサイトクリック数</th>
      <td width="50px"height="50px"><%=@profile.insta_click%></td>
      </tr>
      </table>
    </div>
    </div>

    <div class="tab-area">
    <div class="tab active">
    タブ１
    </div>
    <div class="tab">
    タブ２
    </div>
    <div class="content-area">
    <div class='insta-detail-content show'>タブ1の中身です
      <div class='insta-follower'>Instagramフォロワー
        <%=@profile.insta_follower%><%="人"%>
      </div>
      <div class='insta-gender'>男女比率
       <canvas id="gender" width="50" height="8"></canvas> 
        <%= render "shared/chart" %>
        <%=@profile.insta_man%>男性
        <%=@profile.insta_woman%>女性
      </div>
      <div class='insta-age-total'>
       <div class='insta-age-graph'>年代比較
         <canvas id="myInstaChart" width="100" height="30"></canvas> 
        <%= render "shared/chart" %>
       </div>
       <div class='insta-age'>
       <table>
          <tr>
          <th>13才-17才</th>
          <th>18才-24才</th>
          <th>25才-34才</th>
          <th>35才-44才</th>
          <th>45才-54才</th>
          <th>54才-64才</th>
          <th>65+</th>
          </tr>
          <tr>
          <td><%=@profile.insta_age1 %><%="%"%></td>
          <td><%=@profile.insta_age2%><%="%"%></td>
          <td><%=@profile.insta_age3%><%="%"%></td>
          <td><%=@profile.insta_age4%><%="%"%></td>
          <td><%=@profile.insta_age5%><%="%"%></td>
          <td><%=@profile.insta_age6%><%="%"%></td>
          <td><%=@profile.insta_age7%><%="%"%></td>
          </tr>
        </table>
        </div>
      </div>
    </div>
    

    <div class='youtube-detail-content tab'>タブ２の中身です
      <div class='youtube-follower show'>Youtube登録者数
        <%=@profile.youtube_follower%><%="人"%>
      </div>
      <div class='youtube-gender'>男女比率
      <canvas id="Youtubegender" width="50" height="8"></canvas> 
        <%= render "shared/chart" %>
        <%=@profile.youtube_man%>男性
        <%=@profile.youtube_woman%>女性
      </div>
      <div class='youtube-age-total'>
      <div class='youtube-graph'>年代比較
      <canvas id="myYoutubeChart" width="100" height="30"></canvas>
      <%= render "shared/chart" %>
        <div class='youtube-age'>
          <table>
            <tr>
            <th>13才-17才</th>
            <th>18才-24才</th>
            <th>25才-34才</th>
            <th>35才-44才</th>
            <th>45才-54才</th>
            <th>54才-64才</th>
            <th>65+</th>
            </tr>
            <tr>
            <td><%=@profile.youtube_age1 %><%="%"%></td>
            <td><%=@profile.youtube_age2%><%="%"%></td>
            <td><%=@profile.youtube_age3%><%="%"%></td>
            <td><%=@profile.youtube_age4%><%="%"%></td>
            <td><%=@profile.youtube_age5%><%="%"%></td>
            <td><%=@profile.youtube_age6%><%="%"%></td>
            <td><%=@profile.youtube_age7%><%="%"%></td>
            </tr>
          </table>
        </div>
      </div>
      <div class='youtube-viewing'>
        <%=@profile.viewing%>視聴率
      </div>
      </div>
    </div>
    </div>
       <%# <%ログインユーザーのみ編集と削除可能。他のユーザーは購入画面のみ表示%> 
    <% if user_signed_in? && current_user.id == @profile.user_id %>
      <%= link_to 'アカウント編集', edit_profile_path, method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to 'アカウント削除', profile_path, method: :delete, class:'item-destroy' %>
    <% end %>
  </div>
  <div>
    <%=link_to 'もどる', root_path, class:"" %> 
  </div>
</div>