<header>
  <div class= "show-header">
    <div class="title"> 
      <%=link_to 'Connect', root_path, class:"title"%>
    </div>
    <div class="search" >
      <div class="form-input">
        <%= search_form_for @p, url: profiles_search_path do |f| %>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name %>
        <%= f.search_field :name_cont, placeholder: "æ¤œç´¢(ã‚«ãƒ†ã‚´ãƒªå¿…é ˆï¼‰", class:"name-cont"%>
      </div>
      <input class="form-submit" type="submit" value="ðŸ”">
      <% end %>
    </div>
    <ul class='lists-right'>
      <div class="h-menu">
    <input id="h-menu_checkbox" class="h-menuCheckbox" type="checkbox">
    <label class="h-menu_icon" for="h-menu_checkbox"><span class="hamburger-icon"></span></label>
    <label id="h-menu_black" class="h-menuCheckbox" for="h-menu_checkbox"></label>
    <div class="hum" id="h-menu_content">
      <ul>
        <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, root_path, class: "user-nickname-profile" %></li>
        <li><%= link_to 'ãƒãƒ£ãƒƒãƒˆ', new_room_path, class: "dm "%></li>
        <li><%= link_to 'ç™»éŒ²', new_profile_path, class: "post"%></li>
        <li><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', "/users/sign_out", method: :delete, class: "logout"  %></li>
        <% else %>
        <li><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'æ–°è¦ç™»éŒ²', "/users/sign_up", class: "sign-up" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>